<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}opps!{{else}}Devoure it!{{/if}}
	</button>

	<!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> -->
</li>